#!/usr/local/bin/php -nc/usr/local/directadmin/plugins/phpversionlist/php.ini
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<?php

if (!function_exists('shell_exec')) {
    echo '<div class="alert alert-danger"><strong>PHP Error:</strong> function shell_exec is not available or disabled.<br>Plugin can not be used until this function is available.</div>';
    return;
}

require_once(realpath(pathinfo($_SERVER['SCRIPT_NAME'], PATHINFO_DIRNAME) . '/../httpsocket.php'));

$supportedVersionsDataFile = pathinfo($_SERVER['SCRIPT_NAME'], PATHINFO_DIRNAME) . '/../supportedVersions';

// refresh the supportedVersions if the file not exists or the data is older than 24 hours
if (!file_exists($supportedVersionsDataFile) || (time() - filemtime($supportedVersionsDataFile) > 24 * 3600)) {
    require_once(realpath(pathinfo($_SERVER['SCRIPT_NAME'], PATHINFO_DIRNAME) . '/supportedVersions.php'));

    $data = fopen($supportedVersionsDataFile, "w+");
    fwrite($data, serialize(getSupportedVersions()));
    fclose($data);
}

$supportedVersions = unserialize(file_get_contents($supportedVersionsDataFile));

function colorize($version) {
    global $supportedVersions;
    $colorized = "";

    $allBranches = [];
    foreach ($supportedVersions as $supportedVersion) {
        $allBranches[] = $supportedVersion['branch'];

        if (preg_match('/^' . $supportedVersion['branch'] . '/', $version)) {
            $color = ($supportedVersion['status'] === 'security') ? '#f93' : 'black';
            $color = ($supportedVersion['status'] === 'stable') ? '#9c9' : $color;

            $colorized = '<span style="font-weight: bold; color: ' . $color . '">' . $version . '</span>';
            break;
        }
    }

    if (empty($colorized)) {
        if ((float)$version < (float)min($allBranches)) {
            $colorized = '<span style="font-weight: bold; color: #f33">' . $version . '</span>';
        } else {
            $colorized = $version;
        }
    }

    return $colorized;
}

function phpVersionCompare($a, $b) {
    $a = strip_tags($a);
    $b = strip_tags($b);

    if ($a == $b) {
        return 0;
    }
    return ($a < $b) ? -1 : 1;
}

// fetch PHP versions via an API call (no rights to access the custombuild options.conf file)
$sock = new HTTPSocket;
$sock->connect("ssl://" . $_SERVER['HTTP_HOST'], 2222);
$sock->set_login($_SERVER['USER']);
$sock->query('/CMD_API_SYSTEM_INFO');
$systemInfo = $sock->fetch_parsed_body();

$systemInfo['php'] = colorize($systemInfo['php']);
$systemInfo['php2'] = colorize($systemInfo['php2']);
$systemInfo['php3'] = colorize($systemInfo['php3']);
$systemInfo['php4'] = colorize($systemInfo['php4']);

/**
 *
 * value should be string that is passed!
 */
function translateValueToVersion($phpEnabled, $value) {
    global $systemInfo;

    if ($phpEnabled != 'ON')
        return;

    if ($value === '1')
        return $systemInfo['php'];
    else if ($value === '2')
        return $systemInfo['php2'];
    else if ($value === '3')
        return $systemInfo['php3'];
    else if ($value === '4')
        return $systemInfo['php4'];
    else if ($value === '0')
        return 'Off';

    return;
}

// read all the directadmin users data config files
$phpConfigData = shell_exec("grep php /usr/local/directadmin/data/users/*/domains/*.conf");
preg_match_all("/users\/(?P<user>.*)\/domains\/(?P<domain>.*)\.conf\:(?P<data>.*)\n/U", $phpConfigData, $matches);

$list = [];
$params = []; // array used to know later which phpx_select parameters there are
foreach ($matches[0] as $k => $v) {
    $user = $matches['user'][$k];
    $domain = $matches['domain'][$k];
    $data = $matches['data'][$k];

    list($param, $val) = explode("=", $data);
    $params[] = $param;
    $list[$user][$domain][$param] = $val;
}

/*
// make the values unique
$params = array_unique($params);
var_dump($params);
*/

$keys = array_keys($systemInfo);
$versionKeys = preg_grep('/^php([2-4]?)$/', $keys);

// build an array with key the php install id (1, .., 4) and as value the php version
$phpVersions = [];
foreach ($versionKeys as $keyValue) {
    $num = substr($keyValue, -1, 1);
    $num = !is_numeric($num) ? 1 : $num;

    $phpVersions[$num] = $systemInfo[$keyValue];
}
uasort($phpVersions, 'phpVersionCompare');

// create a multidimensional array with first key the first / second / .. php selector and second key the phpversion (key)
$stats = [];
for ($i = 1; $i <= 4; $i++) {
    for ($j = 1; $j <= 4; $j++) {
        $stats[$i][$j] = 0;
    }
}

// loop to build up the stats
foreach ($list as $user => $domains) {
    foreach ($domains as $domain => $settings) {
        // only want to take phpx_select and use the value
        foreach ($settings as $k => $v) {
            if (!preg_match('/php([1-4])_select/', $k, $matches) || intval($v) == 0) {
                continue;
            }

            $stats[$matches[1]][$v]++;
        }
    }
}

?>
<h3 style="padding-left: 10px">PHP version summary</h3>
<div class="table-responsive px-3">
    <table class="table table-striped table-hover" cellspacing="1" cellpadding="3" style="width: auto !important;">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">First PHP</th>
            <th scope="col">Second PHP</th>
            <th scope="col">Third PHP</th>
            <th scope="col">Fourth PHP</th>
        </tr>
        </thead>

        <tbody>
        <?php

        foreach ($phpVersions as $key => $version) {

            echo "
            <tr>
                <th scope=\"row\">PHP {$version}</th>
                <td class=\"text-right\">{$stats[1][$key]}</td>
                <td class=\"text-right\">{$stats[2][$key]}</td>
                <td class=\"text-right\">{$stats[3][$key]}</td>
                <td class=\"text-right\">{$stats[4][$key]}</td>
            </tr>\n";
        }
        ?>
        </tbody>
    </table>
</div>

<h3 style="padding-left: 10px">PHP version overview per domain</h3>
<div class="table-responsive px-3">
    <table class="table table-striped table-hover" cellspacing="1" cellpadding="3">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Domain</th>
            <th scope="col">PHP</th>
            <th scope="col">First PHP</th>
            <th scope="col">Second PHP</th>
            <th scope="col">Third PHP</th>
            <th scope="col">Fourth PHP</th>
        </tr>
        </thead>

        <tbody>
        <?php
        foreach ($list as $user => $domains) {
            foreach ($domains as $domain => $settings) {
                $phpEnabled = ($settings['php'] == 'ON') ? '<span style="color: green">ON</span>' : '<span style="color: red; font-weight: bold">OFF</span>';
                $firstPhp = (isset($settings['php1_select'])) ? $settings['php1_select'] : '1';
                $firstPhp = translateValueToVersion($settings['php'], $firstPhp);
                $secondPhp = (isset($settings['php2_select'])) ? $settings['php2_select'] : null;
                $secondPhp = translateValueToVersion($settings['php'], $secondPhp);
                $thirdPhp = (isset($settings['php3_select'])) ? $settings['php3_select'] : null;
                $thirdPhp = translateValueToVersion($settings['php'], $thirdPhp);
                $fourthPhp = (isset($settings['php4_select'])) ? $settings['php4_select'] : null;
                $fourthPhp = translateValueToVersion($settings['php'], $fourthPhp);

                echo "<tr><td>{$user}</td> <td>{$domain}</td> <td>{$phpEnabled}</td> "
                    . "<td>{$firstPhp}</td> <td>{$secondPhp}</td> <td>{$thirdPhp}</td> "
                    . "<td>{$fourthPhp}</td></tr>\n";
            }
        }
        ?>
        </tbody>
    </table>
</div>
